* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    width: 100%;
    line-height: 1.5;
    font-weight: 400;
    background-color: #ffffff;
    min-height: 100vh;
}
.nav-bar ul{
    background-color: #fff;
    box-shadow: 2px 1px 2px #eee;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    gap: 43px;
    padding-inline: 208px;
    padding-bottom: 20px;
    padding-top: 23px;
}
.nav-bar a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #666;
    font-weight: 400;
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif;
}
.nav-bar a:hover{
    color: #387ed1;
}
.nav-bar i:hover{
    cursor: pointer;
}
.nav-bar li:first-child{
    margin-right:  auto;
}
.nav-icon img{
    width: 130px;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner img{
    width: 750px;
    height: 310px;
    margin-top: 135px;
}
.banner div{
    color: #424242;
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif;
}
.banner .part-1{
    font-weight: 500;
    font-size: 2.8em;
    margin-top: 60px;
}
.banner .part-2{
    margin-top: 7px;
    font-weight: 400;
    font-size: 1.3em;
}
.banner button, .open-account button{
    color: white;
    background-color: #387ed1;
    border-radius: 4px;
    border-style: none;
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    padding-inline: 30px;
    padding-block: 10px;
    margin-top: 35px;
}
.banner button:hover{
    background-color: black;
    cursor: pointer;
}
.product, .pricing, .varsity{
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 220px;
}
.product, .varsity{
    margin-top: 140px;
}
.features{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.product .features h2, h4, .left-pricing h2, .varsity h3, .open-account h2{
    color: #424242;
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif;
    font-weight: 500;
}
.product .features div{
    width: 29vw;
}
.product .features h2, .left-pricing h2, .open-account h2{
    font-size: 2.1em;
}
.product .features h4{
    font-size: 1.4em;
    line-height: 2;
}
.product .features p{
    color: #787878;
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif;
    font-size: 1.1em;
    line-height: 1.7;
}
.product .features a{
    text-decoration: none;
    color: #236dc7;
}
.explore-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.explore-products img{
    width: 623px;
    height: 612px;
}
.demo a{
    color: #387ed1;
    padding-right: 25px;
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    text-decoration: none;
}
.demo a:hover, .left-pricing a:hover, .varsity a:hover, .mid-footer a:hover{
    color: black;
    cursor: pointer;
}
.media{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.media:hover{
    opacity: 0.8;
}
.pricing, .varsity{
    align-items: center;
}
.pricing{
    margin-top: 120px;
}
.left-pricing, .right-varsity{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}
.left-pricing p, .varsity p{
    color: #424242;
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif;
    font-size: 1.05em;
    line-height: 1.7;
}
.left-pricing a, .varsity a{
    color: #387ed1;
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    text-decoration: none;
}
.right-pricing{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 60px;
    margin-right: 100px;
}
.right-pricing img{
    width: 120px;
    height: 89px;
}
.account, .equity, .intraday{
    display: flex;
    position: relative;
}
.intraday{
    margin-left: 70px;
}
.account p, .equity p{
    position: absolute;
    left: 105px;
    top: 35px;
}
.intraday p{
    position: absolute;
    left: 118px;
    top: 24px;
}
.account p, .equity p, .intraday p{
    font-size: 0.7em;
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif;
    color: #666;
    width: 100%;
}
.varsity{
    gap: 140px;
}
.varsity img{
    width: 433px;
    height: 317px;
}
.varsity h3{
    font-size: 1.6em;
}
.right-varsity-1, .right-varsity-2{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.open-account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    gap: 17px;
}
.open-account p{
    color: #787878;
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    font-size: 1.1em;
}
footer{
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    padding-top: 40px;
    padding-left: 200px;
    background-color: #fbfbfb;
    box-shadow: 1px 1px 1px #eee inset;
}
.upper-footer{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-right: 350px;
    margin-bottom: 50px;
}
.socials{
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.socials img{
    width: 152px;
    height: 20px;
}
.socials p{
    color: #787878;
    font-size: 0.85em;
    font-weight: 500;
    line-height: 25px;
}
.social-icons-1, .social-icons-2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.social-icons-1 a, .social-icons-2 a{
    color: #666;
    font-size: 1.3em;
}
.facebook:hover, .instagram:hover, .linkedin:hover, .telegram:hover{
    color: #387ed1;
} 
footer hr{
    border-top: #787878;
}
.company, .support, .account-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.company h3, .support h3, .account-details h3{
    color: #424242;
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif;
    font-weight: 500;
}
.company-div, .support-div, .account-div{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.company-div a, .support-div a, .account-div a{
    color: #787878;
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    text-decoration: none;
}
.company-div a:hover, .support-div a:hover, .account-div a:hover{
    color: #387ed1;
}
.mid-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif;
    width: 72vw;
}
.mid-footer p{
    color: #787878;
    font-size: 0.7em;
    line-height: 20px;
}
.mid-footer a{
    color: #387ed1;
    text-decoration: none;
    font-weight: 500;
}
.lower-footer {
    display: flex;
    justify-content: center;    
    align-items: center;
    gap: 20px;
    margin-top: 15px;
    padding-right: 250px;
    margin-bottom: 20px;
}
.lower-footer a{
    text-decoration: none;
    color: #9c9797;
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif;
    font-weight: 500;
    font-size: 0.8em;
}
.lower-footer a:hover{
    color: #387ed1;
}
@media (max-width: 1280px){
    .nav-bar{
        padding-left: 90px;
        padding-right: 160px;
    }
    .product, .pricing, .varsity{
        padding-left: 90px;
        padding-right: 90px;
    }
    .banner img{
        width: 580px;
        height: 240px;
        margin-top: 120px;
    }
    .product .features div{
        width: 34vw;
    }
    footer{
        padding-left: 90px;
    }
    .upper-footer{
        padding-right: 200px;
    }
    .mid-footer{
        width: 86vw;
    }
    .lower-footer{
        margin-left: 60px;
        width: 100%;
    }
}
@media (max-width: 1024px){
    .nav-bar{
        padding-left: 20px;
        padding-right: 215px;
    }
    .product, .pricing, .varsity{
        padding-left: 20px;
        padding-right: 20px;
    }
    .banner img{
        width: 572px;
        height: 241px;
        margin-top: 120px;
    }
    .product .features div{
        width: 38vw;
    }
    .explore-products img{
        width: 557px;
        height: 547px;
    }
    .left-pricing p{
        width: 40vw;
    }
    .right-pricing img{
        width: 100px;
        height: 74px;
    }
    .account p, .equity p{
        position: absolute;
        left: 85px;
        top: 30px;
    }
    .intraday p{
        position: absolute;
        left: 100px;
        top: 25px;
    }
    .varsity img{
        width: 387px;
        height: 292px;
    }
    .right-varsity p{
        width: 45vw;
    }
    footer{
        padding-left: 20px;
    }
    .upper-footer{
        padding-right: 105px;
    }
    .mid-footer{
        width: 95vw;
    }
    .lower-footer{
        width: 110vw;
    }
}
@media (max-width: 768px){
    .nav-bar{
        padding-bottom: 15px;
        padding-top: 20px;
    }
    .banner img{
        margin-top: 150px;
    }
    .banner .part-2{
        width: 90vw;
        text-align: center;
    }
    .product{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 75px;
    }
    .product .features p{
        width: 97vw;
    }
    .explore-products img{
        width: 728px;
        height: 715px;
    }
    .explore-products .demo{
        margin-top: -35px;
    }
    .media{
        margin-top: 85px;
    }
    .pricing{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 50px;
    }
    .left-pricing p{
        width: 95vw;
    }
    .left-pricing a{
        position: absolute;
        top: 230px;
        left: 32px;
    }
    .right-pricing{
        justify-content: flex-start;
        margin-left: 100px;
        margin-top: 30px;
    }
    .account img, .equity img, .intraday img{
        width: 85px;
        height: 62px;
    }
    .account p, .equity p{
        left: 75px;
        top: 18px;
    }
    .equity p{
        width: 20vw;
    }
    .intraday p{
        left: 85px;
        top: 15px;
    }
    .varsity{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        gap: 20px;
    }
    .varsity img{
        width: 477px;
        height: 350px;
    }
    .right-varsity p{
        width: 90vw;
    }
    .open-account{
        margin-top: 67px;
    }
    footer{
        margin-top: 30px;
        padding-top: 30px;
    }
    .upper-footer{
        display: flex;
        flex-direction: column;
        gap: 55px;
    }
    .socials{
        gap: 15px;
    }
    .social-icons-1, .social-icons-2{
        gap: 23px;
    }
    .social-icons-1 a{
        width: 18px;
        height: 18px;
    }
    .social-icons-2 a{
        width: 26px;
        height: 26px;
    }
    footer hr{
        width: 95vw;
    }
    .mid-footer{
        width: 95vw;
    }
    .lower-footer{
        justify-content: flex-start;
        margin-left: 0px;
        flex-wrap: wrap;
        width: 140vw;
    }
}
@media (max-width: 640px){
    .explore-products img{
        width: 600px;
        height: 589px;
    }
    .media img{
        width: 600px;
        height: 33px;
    }
    .open-account p{
        text-align: center;
    }
    .mid-footer{
        width: 94vw;
    }
}